body {
    background-color: #b2b2b2;
}

.navbar-dark {
    background-color: #2f2f2f;
    font-weight: bold;
    font-size: 18px;
}

.navbar-dark .active {
    border-bottom: 2px solid #c7c7c7;
    border-spacing: 100px;
}

.navbar-dark li{
    margin: 0 0 0 20px;
}

.navbar-dark .dropdown a:hover {
    background-color: #2f2f2f;
}

.navbar-dark .dropdown a:hover p {
    color: #b2b2b2;
}

.navbar .aluno p {
    color: #28a745;
    font-weight: bold;
}

.navbar .empresa p {
    color: #007bff;
    font-weight: bold;
}

.navbar .instituicao p {
    color: #dc3545;
    font-weight: bold;
}

.navbar .painel p {
    color: #5c646b;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #2f2f2f;
    background-color: white;
}

footer {
    background-color: #2f2f2f;
    color: white;
    font-size: 14px;
    position: relative;
    top: 0px;
}

.index-body {
    background-color: #b2b2b2;
}

.index-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.index-body .home hr {
    border: 1px solid #b2b2b2;
}

.login-body {
    background-color: #b2b2b2;
    font-weight: bold;
}

.login-body .login {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.login-body .home hr {
    border: 1px solid #b2b2b2;
}

.login-body .login-admin {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    color: #5c646b;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #5c646b;
}

.login-body .login-aluno {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    color: #28a745;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #28a745;
}

.login-body .login-instituicao {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    color: #dc3545;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #dc3545;
}

.sign-up-body {
    background-color: #b2b2b2;
}

.sign-up-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.sign-up-body .home hr {
    border: 1px solid #b2b2b2;
}

.sign-up-body .add p {
    color: #28a745;
    font-size: 25px;
}

.sign-up-body .add:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s;
}

.sign-up-body .form label {
    font-weight: bold;
}

.validate-institutions-body {
    background-color: #b2b2b2;
}

.validate-institutions-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.validate-institutions-body h3 {
    margin-bottom: 30px;
}

.validate-institutions-body .validate p {
    color: #28a745;
    font-size: 25px;
}

.validate-institutions-body .validate:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.validate-institutions-body .reject p {
    color: #dc3545;
    font-size: 25px;
}

.validate-institutions-body .reject:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.validate-institutions-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.validate-institutions-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.rejected-institutions-body {
    background-color: #b2b2b2;
}

.rejected-institutions-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.rejected-institutions-body h3 {
    margin-bottom: 30px;
}

.rejected-institutions-body .validate p {
    color: #28a745;
    font-size: 25px;
}

.rejected-institutions-body .validate:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.rejected-institutions-body .delete p {
    color: #dc3545;
    font-size: 25px;
}

.rejected-institutions-body .delete:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.rejected-institutions-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.rejected-institutions-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.institutions-body {
    background-color: #b2b2b2;
}

.institutions-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.institutions-body h3 {
    margin-bottom: 30px;
}

.institutions-body .delete p {
    color: #dc3545;
    font-size: 25px;
}

.institutions-body .delete:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.institutions-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.institutions-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.students-body {
    background-color: #b2b2b2;
}

.students-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.students-body h3 {
    margin-bottom: 30px;
}

.students-body .alter p {
    color: #28a745;
    font-size: 25px;
}

.students-body .alter:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.students-body .delete p {
    color: #dc3545;
    font-size: 25px;
}

.students-body .delete:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.students-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.students-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.students-vacancies-body {
    background-color: #b2b2b2;
}

.students-vacancies-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.students-vacancies-body h3 {
    margin-bottom: 30px;
}

.students-vacancies-body .intership p {
    color: #28a745;
    font-size: 25px;
}

.students-vacancies-body .intership:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.students-vacancies-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.students-vacancies-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.vacancies-body {
    background-color: #b2b2b2;
}

.vacancies-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.vacancies-body h3 {
    margin-bottom: 30px;
}

.vacancies-body .offer p {
    color: #007bff;
    font-size: 25px;
}

.vacancies-body .offer:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #007bff;
}

.vacancies-body .alter p {
    color: #28a745;
    font-size: 25px;
}

.vacancies-body .alter:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.vacancies-body .delete p {
    color: #dc3545;
    font-size: 25px;
}

.vacancies-body .delete:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.vacancies-body .add p {
    color: #28a745;
    font-size: 25px;
}

.vacancies-body .add:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.vacancies-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.vacancies-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.courses-body {
    background-color: #b2b2b2;
}

.courses-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.courses-body h3 {
    margin-bottom: 30px;
}

.courses-body .alter p {
    color: #28a745;
    font-size: 25px;
}

.courses-body .alter:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.courses-body .delete p {
    color: #dc3545;
    font-size: 25px;
}

.courses-body .delete:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.courses-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.courses-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.internship-body {
    background-color: #b2b2b2;
}

.internship-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.internship-body h3 {
    margin-bottom: 30px;
}

.internship-body .alter p {
    color: #28a745;
    font-size: 25px;
}

.internship-body .alter:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.internship-body .cancel p {
    color: #dc3545;
    font-size: 25px;
}

.internship-body .cancel:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.internship-body .finalize p {
    color: #5c646b;
    font-size: 25px;
}

.internship-body .finalize:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.internship-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.internship-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.offer-courses-body {
    background-color: #b2b2b2;
}

.offer-courses-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.offer-courses-body h3 {
    margin-bottom: 30px;
}

.offer-courses-body .delete p {
    color: #dc3545;
    font-size: 25px;
}

.offer-courses-body .delete:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #dc3545;
}

.offer-courses-body .add p {
    color: #28a745;
    font-size: 25px;
}

.offer-courses-body .add:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #28a745;
}

.offer-courses-body .desk p {
    color: #5c646b;
    font-size: 25px;
}

.offer-courses-body .desk:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 5px #5c646b;
}

.admin-control-body {
    background-color: #b2b2b2;
}

.admin-control-body .home {
    background-color: white;
    margin: 50px 0;
    padding: 30px 30px;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
}

.admin-control-body .home hr {
    border: 1px solid #b2b2b2;
}

.admin-control-body a {
    margin-left: 10px;
}